name: Build DEB on Version Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  build-deb:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # IMPORTANT for tags + Gradle  # match your project

      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Make jpackage script executable
        run: chmod +x ./jpackage-to-deb.sh

      - name: Get version from tag
        id: version
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          VERSION="${TAG#v}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Delete old deb files
        run: find . -name "*.deb" -type f -delete

      - name: Build DEB package
        run: ./jpackage-to-deb.sh "Calculator" "${{ steps.version.outputs.version }}"
